
$linkColor  : #ffffff;
$bgLogoColor: #0c2957;
$bgFormColor: #091f41;
$accentColor: #134390;
$generalFont: 'Roboto', apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;

